 .label
{
    -fx-text-fill: #808080;
    /*-fx-fill: #808080;*/
    /*-fx-background-color: #808080;*/

}

 .menu-bar {
     -fx-selection-bar: #ab6900;
 }

 .grid-pane {
     -fx-background-color: #373737;
 }
.anchor-pane
{
    -fx-background-color: #373737 ;
}

