@font-face {
    font-family: "Blazma";
    src: url("/com/xrc/dsk/bin/fonts/ofont.ru_Blazma.ttf");
}

.root {
    -fx-font-family: "Blazma";
}
.label
{
    -fx-text-fill: #CCCCCC;
    /*-fx-fill: #808080;*/
    /*-fx-background-color: #808080;*/

}

 .menu-bar {
     -fx-selection-bar: #FF9900;
 }

 .grid-pane {
     -fx-background-color: #333333;
 }
.anchor-pane
{
    -fx-background-color: #333333;
}


